<header>
    <div class="header-banner">
        <h1>Moe's Tavern</h1>
    </div>
    <div class="clear"></div>
    <nav>
        <div class="site-title">Moe's Tavern</div>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Create new cocktail", new_cocktail_path %></li>
            <li><%= link_to "Home", root_path %></li>
        </ul>
    </nav>
</header>


