
.carousel-content {
  position: absolute;
  bottom: 10%;
  // left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background: rgba(0, 0, 0, 0.7);
  // border-radius: 10px;
  width: 100%;
}

.carousel-content h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
}

.carousel-content h2 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;
  opacity: .9;
}

.carousel-content p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);

}

.carousel-inner{
  width:100%;
  max-height: 75vh;
  min-height: 50vh;
}

.carousel-inner img{
  width:100%;
  object-fit: cover;
  height: 75vh;

}


.carousel-pic {
  filter: saturate(100%);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .carousel-inner {
    max-height: 59vh !important;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .carousel-inner {
//     height: 50vh;
//   }
// }
